*{
    margin: 0;
    padding: 0;
}
/* 헤더부분 시작 */
header{
    background-color: white;
    /* border: 1px solid; */
    height: 70px;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
}
nav ul{
    list-style: none;
}
nav a{
    padding: 15px;
}
nav a:hover{
    color: #01a1dd;
    background-color: rgb(229, 235, 235);
}
.dropdown-content1 a, .dropdown-content2 a, .dropdown-content3 a{
    padding: 0px;
}
.dropdown-content1 a li, .dropdown-content2 a li, .dropdown-content3 a li{
    padding: 15px 30px;
}
.dropdown-content1, .dropdown-content2, .dropdown-content3{
    background-color: white;
    display: none;
    position: absolute;
    top: 60px;
}
.dropbtn1:hover .dropdown-content1{
    display: block;
}
.dropbtn2:hover .dropdown-content2{
    display: block;
}
.dropbtn3:hover .dropdown-content3{
    display: block;
}
.dropdown-content1 a li:hover{
    background-color: rgb(229, 235, 235);
}
.dropdown-content2 a li:hover{
    background-color: rgb(229, 235, 235);
}
.dropdown-content3 a li:hover{
    background-color: rgb(229, 235, 235);
}
.logo{
    margin-left: 50px;
    margin-right: 20px;
}
.logo img{
    width: 35px;
}
/* 메인부분 시작 */
main{
    background-image: url(./images/coffee2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
h2{
    position: relative;
    top: 300px;
    left: 45px;
    font-size: 1em;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
.ment{
    position: relative;
    top: 295px;
    left: 45px;
    font-size: 3em;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    position: relative;
    top: 300px;
    left: 45px;
    background-color: #01a1dd;
    cursor: pointer;
    padding: 10px 30px;
    color: whitesmoke;
    border: 0;
    font-weight: 400;
}
footer{
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 14px;
    padding: 10px 50px;
}
/* 아이콘을 이미지로 한 경우 */
footer i{
    font-size: 20px;
}
